ul#browser {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #919B9C;
    height: 250px;
    width: 300px;
    overflow: auto;
}

ul#browser li {
    display: block;
}

ul#browser a {
    display: block;
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
}

ul#browser a.dir:hover,
ul#browser a.file:hover,
ul#browser a.prev:hover {
    background-color: #eee;
}

ul#browser a.dir {
    background-image: url('../img/folder.png');
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

ul#browser a.file {
    background-image: url('../img/image.png');
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

ul#browser a.selected {
}

ul#browser a.selected:hover {
}

ul#browser a.prev {
    background-image: url('../img/arrow_up.png');
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

.panel_wrapper div.current {
    height: 285px;
}

ul#browser li a.empty {
    padding: 5px;
    padding-left: 25px;
    background-image: url('../img/folder_empty.png');
    background-repeat: no-repeat;
    background-position: 3px 3px;
}

ul#browser a.delete-item {
    float: right;
    padding: 0px;
    background-image: url('../img/delete.png');
    background-repeat: no-repeat;
    background-position: 3px 0px;
    width: 20px;
    height: 20px;
}

iframe { border: 0; }

a.refresh-browser {
    background-image: url('../img/arrow_refresh_small.png');
    background-repeat: no-repeat;
    background-position: 3px 0px;
    padding-left: 25px;
    height: 20px;
    text-decoration: none;
}

div#preview {
    float: left;
    margin-right: 10px;
    width: 150px;
    height: 200px;
}

div.panel_wrapper {
    padding: 10px;
}

div#preview ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    text-align: center;
}

div#preview div {
    text-align: center;
    width: 150px;
    height: 150px;
}

div#preview div img {
    border: 1px solid #ccc;
}

div.mceActionPanel {
    margin-top: 10px;
    text-align: right;
}

div#preview a {
    display: block;
}
